mixin card(title, text, imageSrc, color, isContain)
  div(class='flex flex-col gap-8 items-center text-justify w-[235px] lg:w-[285px]')
   div(class=`${color} w-[100%] h-[235px] lg:h-[285px]`)
    img(src=imageSrc class=`w-[100%] h-[100%] ${isContain ? 'object-contain' : 'object-cover'}`)
   div(class="flex flex-col justify-center items-center text-white")
    h2(class="text-[26px] text-hyellow") #{title}
    p #{text}
